<app-header titulo="alert"></app-header>

<ion-content class="ion-padding">
    <ion-button (click)="presentAlert()" expand="block" >
        Mostrar Alerta.
    </ion-button>

    <ion-button (click)="presentAlertMultipleButtons()" expand="block" >
        Mostrar Alerta Varios botones.
    </ion-button>

    <ion-button (click)="presentAlertPrompt()" expand="block" >
        Mostrar Alerta Prompt.
    </ion-button>

    <ion-button (click)="presentAlertRadio()" expand="block" >
        Mostrar Alerta Radio.
    </ion-button>

    <ion-button (click)="presentAlertCheckbox()" expand="block" >
        Mostrar Alerta Check.
    </ion-button>

</ion-content>
