<app-header titulo="about"></app-header>

<ion-content>

  <ion-card class="ion-padding">

    <img src="assets/ionic.png" alt="">

    

    <ion-card-content>
      <h1>Ing. Gerardo Rodriguez</h1>
      <br>

      <p>AppComponent creada en Ionic 6, basada en el curso Ionic de Fernando Herrera.</p>

      <ion-item>
        <ion-icon slot="start" name="mail"></ion-icon>
        <ion-label>gm_rodcar@outlook.com</ion-label>
      </ion-item>
      
     <ion-item>
       <ion-icon slot="start" name="logo-github"></ion-icon>
       <ion-label>github.com/hitman182</ion-label>
     </ion-item>

     <ion-item>
      <ion-icon slot="start" name="logo-linkedin"></ion-icon>
      <ion-label><small>linkedin.com/in/gerardorodriguezc/</small></ion-label>
    </ion-item>

    
       
      
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Aplicación creada en Ionic 6</ion-title>
  </ion-toolbar>
</ion-footer>
