<app-header titulo="card"></app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item>
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label color="primary">Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      One Punch-Man (ワンパンマン lit. Hombre Un-Golpe?) es un webcómic de acción y comedia japonés,
       creado por el artista One e iniciado en 2009. El webcómic rápidamente ganó popularidad, l
       legando a alcanzar las 7.9 millones de visitas. La pronunciación de su nombre en japonés, 
       "Wanpanman", es un juego de palabras basado en el personaje infantil Anpanman, siendo wanpan una contracción de wanpanchi ("un golpe").5​ La historia se centra en Saitama, un superhéroe calvo y extremadamente fuerte que se muestra abrumado por la ausencia de un verdadero desafío, y que continuamente busca a un oponente digno de su poder.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2020/04/saitama-one-punch-man-1924159.jpg?itok=KcsMrd9M" alt="">
    <ion-card-content>
      One Punch-Man (ワンパンマン lit. Hombre Un-Golpe?) es un webcómic de acción y comedia japonés,
       creado por el artista One e iniciado en 2009. El webcómic rápidamente ganó popularidad
    </ion-card-content>
  </ion-card>

</ion-content>
